<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Management</title>
  </head>
  <body>
    <h2>User Management</h2>
    <a href="/ui/logout">Logout</a>
    <h3>Add New User</h3>
    <form method="POST">
      <label for="new_username">Username:</label>
      <input type="text" id="new_username" name="new_username" required><br>
      <label for="new_password">Password:</label>
      <input type="password" id="new_password" name="new_password" required><br>
      <label for="new_is_admin">Is Admin:</label>
      <input type="checkbox" id="new_is_admin" name="new_is_admin"><br>
      <button type="submit">Add User</button>
    </form>
    {% for message in get_flashed_messages() %}
             <div class="alert">{{ message }}</div>
    {% endfor %}
    <h3>Existing Users</h3>
    <ul>
    {% for user in users %}
      <li>{{ user.username }} (Admin: {{ user.is_admin }})</li>
      <form action="{{ url_for('delete_user_ui') }}" method="post" style="display:inline;">
        <input type="hidden" name="id" value="{{user.id}}">
        <button type="submit">Delete</button>
      </form>
    {% endfor %}
    </ul>
  </body>
</html>